* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(./assets/fonts/Karbon-Regular.ttf);
  font-family: Karbon;
}

body {
  background: white;
  padding: 50px;
  font-family: Karbon, sans-serif;
}
h1, h2, h3 {
  font-family: Karbon;
}



ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper__filter {
  width: 350px;
  padding: 0 40px;
}

.wrapper__table {
  width: 600px;
  background: #F4F4F4;
  padding: 0 15px;
}

.text__primary {
  padding: 0 .4em;
  color: #003479;
  text-transform: uppercase;
  font-family: Karbon, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.under__line {
  color: #C2C2C2;
  width: 98%;
}

hr {
  margin-top: 0;
}

form {
  display: flex;
}

.cta {
  background: #644C79!important;
  color: #fff!important;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

input {
  border-radius: 0;
}

.cta:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.cta-block {
  display: block;
  width: 100%;
}

.list__group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

table {
  width: 100%;
}

.item {
  background: white;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.item__container {
  background-color: #fff;
  border-bottom: 2px solid #00A0DF;
}

.MuiTableCell-head {
  color: #003479!important;
  font-family: Karbon, sans-serif!important;
  font-size: 18px!important;
  text-transform: uppercase;
}

.item__group {
  text-transform: uppercase;
}

.gridData.completed::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  display: inline-block;
  float: right;
  color: #00A0DF;
}

.nonCompleted::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  display: inline-block;
  float: right;
  color: #00A0DF;
}

.filter__container {
  background-color: #F4F4F4;
  margin: 0 auto 4px auto;
  padding: 2em;
}

.completed-item{
  text-align: right!important;
  font-weight: bold!important;
}

.filter__title {
  font-size: 36px;
  font-family: Karbon;
  text-transform: uppercase;
  color: #003479;
  text-align: center;
}

.filter__completed,
.filter__select,
.filter__form {
  padding-bottom: 30px;
}

.filter__completed-title,
.filter__select-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #003479;
}

.page-link,
.page-item.disabled .page-link {
  /* position: relative; */
  /* display: block; */
  padding: 0.5rem0.75rem;
  /* margin-left: -1px; */
  /* line-height: 1.25; */
  color: #003479;
  background-color: transparent;
  border: 1px solid transparent;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #003479;
  border-color: transparent;
}
.reset__filters {
  text-decoration: underline;
  text-align: center;
}

.reset__filters a,
.reset__filters a:hover {
  color: #003479;
}

select {
  border: 1px solid #003479;
  width: 100%;
  padding: 7px;
}

/**/
.first {
  width: 70%;
}
.ellipsis {
  position: relative;
}
.ellipsis:before {
  content: '&nbsp;';
  visibility: hidden;
}
.ellipsis span {
  font-size: 18px;
  position: absolute;
  left: 10px;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiTableCell-root {
  font-family: Karbon, sans-serif!important;
  font-size: 18px!important;
  padding: 10px!important;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

tbody .MuiTableCell-root {
  background-color: white;
  border-bottom: 1px solid #00A0DF;
}

.MuiTypography-body2 {
  font-family: Karbon, sans-serif!important;
  color: #003479!important;
}

.toggle__style {
  margin-right: 8px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  font-family: 'Karbon';
  color: #00A0DF;
}

.pagination {
  padding: 20px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 650px) {

}

@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }

  .wrapper {
    flex-direction: column-reverse;
  }

  .wrapper__table {
    width: 100%;
    padding: .5em;
  }

  .wrapper__filter {
    width: auto;
    padding: 40px;
  }
  
  .item {
    padding: 15px;
  }
}